Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
data
tests
.eslintrc.cjs
.eslintignore
.prettierrc
.prettierignore
.docker-compose.yml
