.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/data/db/postgres/data
/data/db/postgres/restore
/data/caddy/caddy_config
/data/caddy/caddy_data
/data/directus/uploads/*
